* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5818de;
  --globalColor: #14101e;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Saira", sans-serif;
  /* background-color: var(--globalColor); */
  background-color: #14101e !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sidelinesBody {
  position: absolute;
  left: 3%;
  height: 100%;
  top: 2%;
}

.sidelinesBody i {
  color: #5818de;
}

.whatIdo i {
  color: #5818de;
  font-size: 100px;
}

.whatIdo span {
  font-family: "Russo one", sans-serif;
  font-size: 30px;
}

.sidelines {
  left: 3%;
  height: 100%;
  width: 2px;
  background-color: #5818de;
}

.nav-link {
  cursor: pointer;
}

/*  */

.belowNav {
  margin-top: 10%;
}

.attrA h3 {
  color: rgb(255, 255, 255) !important;
  font-weight: 900;
  font-family: "Saira", sans-serif;
}

/* .nameTag {
    background: url("https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dGVjaHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.nameTag h1 {
  line-height: 145px !important;
  /* font-family: 'Saira', sans-serif; */
  font-family: "Russo One", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 180px;
}

.mainTagContainer {
  padding: 0 0 0 5%;
}

.firstName {
  /* color: rgb(13, 0, 255); */
  color: var(--primary-color);
}

.secondWord {
  color: var(--primary-color);
}

.quoteSide {
  border-left: 2px solid rgba(255, 255, 255, 0.97);

  background: linear-gradient(130deg,
      rgba(255, 255, 255, 0.1) 0%,
      #ffffff00 100%);
}

/* resume button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*  */

.quotes {
  font-family: "Saira", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: rgba(255, 255, 255, 0.97);
}

.myImage {
  position: relative;
  width: 850px;
  height: 624px;
  transform: scaleX(-1);
  -webkit-mask-image: linear-gradient(to bottom, #171a1d, transparent);
  mask-image: linear-gradient(to bottom, #171a1d, transparent);
}

/* .myImage img {
  position: relative;
    width: 524px;
    height: 624px;
  filter: drop-shadow(20px 20px 10px #000000);
} */

.sectionHeadings {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.aboutPara {
  padding: 0px 6% 2% 5%;
  text-align: justify;
  font-family: "Saira", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
}

.vertical_line {
  border-left: 1px solid rgba(255, 255, 255, 0.493);
  height: 38px;
}

.skillProgress {
  border-radius: 10px;
  padding: 1%;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}



.skillProgress span {
  line-height: 18px;
}

.skillProgress span:nth-child(1) {
  color: rgba(255, 255, 255, 0.849);
}

.skillProgress span:nth-child(2) {
  font-weight: 900;
  color: var(--primary-color);
}

.codeBraces {
  color: rgba(255, 255, 255, 0.578);
  text-shadow: 0px 1px 13px #ffffff;
}

/* resume */
/* education */

.resumeDetails {
  height: 75em;
}

.educationHead {
  font-size: 25px;
  color: #ffffff;
  font-family: "Russo One", sans-serif;
}

.pathHeading {
  width: 400px;
  height: 47.999px;
  flex-shrink: 0;
  border-radius: 23px 8px 8px 23px;
  background: linear-gradient(90deg,
      rgba(229, 229, 229, 0.28) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.roundedPath {
  width: 50px;
  height: 47.999px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #5818de;
}

.educationContent {
  border-left: 1px solid rgba(255, 255, 255, 0.31);
  border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}

.educationDetails_parent>div:nth-child(2) {
  position: absolute;
  bottom: -290px;
  left: 700px;
}

.hrHR {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.31);
  position: absolute;
  bottom: -307px;
  left: 10%;
}

.hrVR {
  height: 1px;
  width: 12%;
  background-color: rgba(255, 255, 255, 0.31);
  position: absolute;
  bottom: -351px;
  left: 4.1%;
  transform: rotate(90deg);
}

.educationDetails_parent>div:nth-child(5) {
  position: absolute;
  bottom: -690px;
}

.ed_1 {
  width: 700px;
  margin-left: 10.5%;
}

.ed_2 {
  width: 400px;
  margin-left: 16%;
  border-bottom: none;
}

.ed_3 {
  width: 700px;
  margin-left: 10.5%;
  border-bottom: none;
}

.content {
  width: 550px;
}

.content p:nth-child(3) {
  font-size: 14px;
}

.content a {
  margin-top: 0;
  font-size: 12px;
}

/* certifications */

.cert_backBody {
  background-image: url("/images/awards_background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.certifications_container {
  position: relative;
  width: 18rem;
  height: 18rem;
  background: linear-gradient(117deg,
      rgba(35, 37, 49, 0.5) 31.8%,
      rgba(71, 74, 91, 0.6) 83.79%);
  border: 1px solid rgba(255, 255, 255, 0.31);
  color: white !important;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.certifications_container:hover {
  box-shadow: 38px 38px 76px #0b0911, -38px -38px 76px #1d172c;
  transform: scale(1.2);
  -webkit-transform: scale(1);
  -moz-transform: scale(1.2);
}

.card_cert_img {
  width: inherit;
  height: 100px;
}

.card_image_from {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 115px;
}

.card_image_on {
  z-index: 1;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 143px;
  right: 8px;
}

a {
  text-decoration: none !important;
}

/* responsiveness */

@media screen and (max-width: 480px) {
  .belowNav {
    margin-top: 25%;
  }

  .sidelinesBodyL1 {
    left: 1.5%;
  }

  .mainTagContainer {
    position: absolute;
    padding: 0 0 0 10%;
    bottom: 0px;
  }

  .nameTag h1 {
    line-height: 25px !important;
    font-size: 40px;
  }

  .attrA h3 {
    font-size: 16px;
  }

  .attrB > h3 {
    font-size: 16px !important;
    
  }

  .myImage {
    margin-top: 0;
    width: 100%;
    height: 400px;
    transform: scaleX(-1);
  }

  .quotes {
    font-size: 14px;
  }

  .aboutPara {
    padding: 10px 6% 2% 10%;
  }

  .sectionHeadings {
    font-size: 40px;
  }

  /* education */
  .pathHeading {
    width: 300px;
  }

  .educationContent {
    border-bottom: none;
    border-left: 1px dashed rgba(255, 255, 255, 0.31);
  }

  .educationDetails_parent>div:nth-child(2) {
    position: unset;
  }

  .hrHR {
    display: none;
  }

  .hrVR {
    display: none;
  }

  .educationDetails_parent>div:nth-child(5) {
    position: unset;
  }

  .ed_1,
  .ed_2,
  .ed_3 {
    width: max-content;
    margin-left: 1.5em;
  }

  .content {
    width: 320px;
  }

  .content>h5 {
    font-size: 17px !important;
  }

  .content p:nth-child(2) {
    font-size: 12px;
  }

  .content p:nth-child(3) {
    font-size: 12px;
  }

  .content a {
    margin-top: 0;
    font-size: 12px;
  }
}

/* below 1024 */
@media (min-width: 480px) and (max-width: 1024px) {
  .belowNav {
    margin-top: 15%;
  }

  .mainTagContainer {
    padding: 0 0 0 5%;
    margin-top: 15%;
  }

  .nameTag h1 {
    line-height: 80px !important;
    font-size: 100px;
  }
}