/* Gfonts */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=DM+Sans&family=Pacifico&family=Montserrat+Alternates&family=Roboto+Mono:wght@300&family=Saira&family=Russo+One&display=swap");

/*  */
.container {
    /* background-color: #0D1115; */
    /* background-color: #171A1D; */
    background: var(--globalColor);
}

.navbarNav a,.navbarNav i {
    font-family: 'Saira', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.navbarNav a:hover,.navbarNav i:hover  {
    /* color: rgb(13, 0, 255); */
    color: #5818DE;
}

.centerText {
    /* font-family: 'Saira', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Pacifico', cursive; */
    
    font-size: 18px;
}